{% extends 'base_medicos.html' %}

{% block img %} 
<img src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/media/medic_photos/PERFIL_DRA._VANIA.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250324%2Fbrazil%2Fs3%2Faws4_request&amp;X-Amz-Date=20250324T220308Z&amp;X-Amz-Expires=588000&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=2baed839b403810c121f23faf124b1d6834b3dfa524e36c2505ba3968d91f9fe" class="object-cover w-full h-full" alt="Vania Rosa Roman">
{% endblock %}

{% block name %}
Dr. Vania Rosa Roman
{% endblock %}

{% block specialty %}
Medicina Preventiva e Social
{% endblock %}  

{% block CRM %}
CRM 21399
{% endblock %}

{% block state %}
Não informado, RS
{% endblock %}

{% block s_media %}

{% endblock %}

{% block visu %}
46 visualizações
{% endblock %}

{% block description %}

{% endblock %}

{% block info %}
<ul class="space-y-5">
    <li>
        <h4 class="mb-1 text-xl font-bold">Patologias</h4>
        <p class="text-gray-500">Não informado</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Atendimento</h4>
        <p class="text-gray-500">Não informado</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Aceita Convênio</h4>
        <p class="text-gray-500">
            
                Não
            
        </p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Retorno e Acompanhamento</h4>
        <p class="text-gray-500">Não informado</p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Experiência com prescrição de produtos à base de cannabis</h4>
        <p class="text-gray-500">Não informado</p>
    </li>

</ul>
{% endblock %}

{% block training %}

{% endblock %}

{% block other %}

{% endblock %}