{% extends 'base_medicos.html' %}

{% block title %}DR CARLOS ALBERTO SCARPELLI - MEDICINA DO TRABALHO {% endblock %}

{% block img %} 
<img src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/media/medic_photos/WhatsApp_Image_2025-02-13_at_18.33.20.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250324%2Fbrazil%2Fs3%2Faws4_request&amp;X-Amz-Date=20250324T220913Z&amp;X-Amz-Expires=588000&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=795cb425199da2ccf099951a95847e40f18b84514d23c4f37e48eea45695ccd4" class="object-cover w-full h-full" alt="DR CARLOS ALBERTO SCARPELLI">
{% endblock %}

{% block name %}
Dr. DR CARLOS ALBERTO SCARPELLI
{% endblock %}

{% block specialty %}
MEDICINA DO TRABALHO
{% endblock %}  

{% block CRM %}
CRM 27423
{% endblock %}

{% block state %}
Não informado, RS
{% endblock %}

{% block s_media %}

{% endblock %}

{% block visu %}
46 visualizações
{% endblock %}

{% block description %}

{% endblock %}

{% block info %}
<ul class="space-y-5">
    <li>
        <h4 class="mb-1 text-xl font-bold">Patologias</h4>
        <p class="text-gray-500">OCUPACIONAIS</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Atendimento</h4>
        <p class="text-gray-500">ADULTOS</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Aceita Convênio</h4>
        <p class="text-gray-500">
            
                Não
            
        </p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Retorno e Acompanhamento</h4>
        <p class="text-gray-500">CONSULTA + RETORNO ATÉ 30 DIAS  + CONTATOS VIA WHATTS APP CONFORME DISPONIBILIDADE E NECESSIDADE</p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Experiência com prescrição de produtos à base de cannabis</h4>
        <p class="text-gray-500">Não informado</p>
    </li>

</ul>
{% endblock %}

{% block training %}
<ul class="space-y-5">
                                
    <li>
        <h4 class="mb-1 text-xl font-bold">FAC. MED. DE VALENÇA - RJ</h4>
        <p class="text-gray-500">1976</p>
    </li>


</ul>
{% endblock %}

{% block other %}

{% endblock %}