{% extends 'base_medicos.html' %}

{% block img %} 
<img src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/media/medic_photos/Dra._Bruna_Sanches.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250324%2Fbrazil%2Fs3%2Faws4_request&amp;X-Amz-Date=20250324T210642Z&amp;X-Amz-Expires=588000&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=df5094d51f65ce716d10cbb6cbab33ccc34d5c063da460600d07c0efb96fb7e8" class="object-cover w-full h-full" alt="Bruna Sanches">
{% endblock %}

{% block name %}
Dra. Bruna Sanches
{% endblock %}

{% block specialty %}
Medicina de Família e Comunidade
{% endblock %}

{% block CRM %}
CRM 214197
{% endblock %}

{% block state %}
São Paulo, SP
{% endblock %}

{% block s_media %}


{% endblock %}

{% block visu %}
265 visualizações
{% endblock %}

{% block description %}
Sou Bruna e sou Médica de Família e Comunidade, tenho pós graduação em Medicina Encocanabinoide e atualmente faço Pós Graduação em Psiquiatria.
{% endblock %}

{% block info %}
<ul class="space-y-5">
    <li>
        <h4 class="mb-1 text-xl font-bold">Patologias</h4>
        <p class="text-gray-500">Saúde Mental, Dor, Saúde da Mulher</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Atendimento</h4>
        <p class="text-gray-500">Adolescentes, Adultos e Idosos</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Aceita Convênio</h4>
        <p class="text-gray-500">
            
                Não
            
        </p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Retorno e Acompanhamento</h4>
        <p class="text-gray-500">Incluso 1 retorno por tempo indeterminado</p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Experiência com prescrição de produtos à base de cannabis</h4>
        <p class="text-gray-500">Atua na especialidade na área Medicina da Família e Comunidade, com especialização nas áreas de Saúde LGBTQIA+, métodos contraceptivos, Cannabis Medicinal.</p>
    </li>

</ul>
{% endblock %}

{% block training %}
<ul class="space-y-5">
                                
    <li>
        <h4 class="mb-1 text-xl font-bold">Universidade Cidade de São Paulo</h4>
        <p class="text-gray-500">Graduação em Medicina</p>
    </li>


</ul>
{% endblock %}

{% block other %}

{% endblock %}