{% extends 'base_medicos.html' %}

{% block img %} 
<img src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/staticfiles/images/sem%20avatar.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250324%2Fbrazil%2Fs3%2Faws4_request&amp;X-Amz-Date=20250324T235748Z&amp;X-Amz-Expires=588000&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=7c73796cdeabfc1859f022dca551ee21ebe5f1461d58b6765ca13451a890da11" class="object-cover w-full h-full" alt="Diandra Selch Freire de Almeida ">
{% endblock %}

{% block name %}
Dra. Diandra Selch Freire de Almeida
{% endblock %}

{% block specialty %}
MEDICINA DE FAMÍLIA E COMUNIDADE - RQE Nº: 21312
{% endblock %}  

{% block CRM %}
CRM 23201
{% endblock %}

{% block state %}
Distrito Federal, DF
{% endblock %}

{% block s_media %}

{% endblock %}

{% block visu %}
93 visualizações
{% endblock %}

{% block description %}
Atendimento médico centrado na pessoa. Aqui cuido de você como um todo, com foco no acolhimento e resolutividade.

Residência Médica em Medicina de Família e Comunidade (ESCS) 
Pós Graduação em  Psiquiatria (CENBRAP)
Graduanda em Cannabis Medicinal (SANAR)
{% endblock %}

{% block info %}
<ul class="space-y-5">
    <li>
        <h4 class="mb-1 text-xl font-bold">Patologias</h4>
        <p class="text-gray-500">Medicina de Família  e Psiquiatria: Ansiedade, Depressão, Insônia...</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Atendimento</h4>
        <p class="text-gray-500">TODOS</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Aceita Convênio</h4>
        <p class="text-gray-500">
            
                Não
            
        </p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Retorno e Acompanhamento</h4>
        <p class="text-gray-500">Consulta médica com retorno sem custo adicional, se retorno feito em até 20 dias da data da consulta. </p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Experiência com prescrição de produtos à base de cannabis</h4>
        <p class="text-gray-500">SIM</p>
    </li>

</ul>
{% endblock %}

{% block training %}
<ul class="space-y-5">
    <li>
        <h4 class="mb-1 text-xl font-bold">Patologias</h4>
        <p class="text-gray-500">Medicina de Família  e Psiquiatria: Ansiedade, Depressão, Insônia...</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Atendimento</h4>
        <p class="text-gray-500">TODOS</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Aceita Convênio</h4>
        <p class="text-gray-500">
            
                Não
            
        </p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Retorno e Acompanhamento</h4>
        <p class="text-gray-500">Consulta médica com retorno sem custo adicional, se retorno feito em até 20 dias da data da consulta. </p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Experiência com prescrição de produtos à base de cannabis</h4>
        <p class="text-gray-500">SIM</p>
    </li>

</ul>
{% endblock %}

{% block contact %}
{% endblock %}

{% block other %}

{% endblock %}