@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Din';
  src: url('/static/fonts/Barlow-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Marbold';
  src: url('/static/fonts/MARBOLD.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
