{% extends 'base_medicos.html' %}

{% block title %}Rafael Garcia Eymael - MEDICINA DE FAMÍLIA E COMUNIDADE - RQE Nº: 6198 {% endblock %}

{% block img %} 
<img src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/media/medic_photos/IMG_7087.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250324%2Fbrazil%2Fs3%2Faws4_request&amp;X-Amz-Date=20250324T235132Z&amp;X-Amz-Expires=588000&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=b39b0e65cc71b6897bce6bf2300dd299c0f147e3fa63ecb4d303904b41fa3948" class="object-cover w-full h-full" alt="Rafael Garcia Eymael">
{% endblock %}

{% block name %}
Dr. Rafael Garcia Eymael
{% endblock %}

{% block specialty %}
MEDICINA DE FAMÍLIA E COMUNIDADE - RQE Nº: 6198
{% endblock %}  

{% block CRM %}
CRM 12805
{% endblock %}

{% block state %}
Não informado, SC
{% endblock %}

{% block s_media %}

{% endblock %}

{% block visu %}
76 visualizações
{% endblock %}

{% block description %}
None
{% endblock %}

{% block info %}
<ul class="space-y-5">
    <li>
        <h4 class="mb-1 text-xl font-bold">Patologias</h4>
        <p class="text-gray-500">Não informado</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Atendimento</h4>
        <p class="text-gray-500">Não informado</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Aceita Convênio</h4>
        <p class="text-gray-500">
            
                Não
            
        </p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Retorno e Acompanhamento</h4>
        <p class="text-gray-500">Não informado</p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Experiência com prescrição de produtos à base de cannabis</h4>
        <p class="text-gray-500">Não informado</p>
    </li>

</ul>
{% endblock %}

{% block training %}

{% endblock %}

{% block other %}

{% endblock %}