{% extends 'base_medicos.html' %}

{% block title %}Alexandre Sponchiado - Clínico Geral {% endblock %}

{% block img %} 
<img src="https://saude-kayamind-minio.aqrour.easypanel.host/kayadoc/media/medic_photos/FOTO.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=tEE1iyojY34tOfrnfIPQ%2F20250324%2Fbrazil%2Fs3%2Faws4_request&amp;X-Amz-Date=20250324T201036Z&amp;X-Amz-Expires=588000&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=8dcc8767d35479576c321b4bfd01b29dd259cd88a72a50b2fe174c9c2f7f74c1" class="object-cover w-full h-full" alt="Alexandre Sponchiado">
{% endblock %}

{% block name %}
Dr. Alexandre Sponchiado
{% endblock %}

{% block specialty %}
Clínico Geral
{% endblock %}

{% block CRM %}
CRM 160771
{% endblock %}

{% block state %}
São Paulo, SP
{% endblock %}

{% block s_media %}


{% endblock %}

{% block visu %}
207 visualizações
{% endblock %}

{% block description %}
Sou médico formado em 2013, desde a minha formação atuo como Clinico Geral na atenção primária (UBS) e Médico do Trabalho. Acreditando no enorme potencial terapêutico da Cannabis, iniciei os estudos com a Cannabis em 2021 e começo a prescrever em 2023, afim de proporcionar uma melhor qualidade de vida para os pacientes.
{% endblock %}

{% block info %}
<ul class="space-y-5">
    <li>
        <h4 class="mb-1 text-xl font-bold">Patologias</h4>
        <p class="text-gray-500">Dores, Fibromialgia, Transtornos Mentais, Enxaqueca, Hipertensão, Diabetes, Psoríase, Paliativos, Distúrbios do Sono, Parkinson, Alzheimer, Câncer, Epilepsias, Reparação Muscular</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Atendimento</h4>
        <p class="text-gray-500">Acima de 14 anos</p>
    </li>
    <li>
        <h4 class="mb-1 text-xl font-bold">Aceita Convênio</h4>
        <p class="text-gray-500">
            
                Não
            
        </p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Retorno e Acompanhamento</h4>
        <p class="text-gray-500">30 dias</p>
    </li>
    <li>
        <h4 class="mb-3 text-xl font-bold">Experiência com prescrição de produtos à base de cannabis</h4>
        <p class="text-gray-500">Formado em 2013 pela Universidade Nove de Julho - UNINOVE                                                                                             Especialista em Medicina do Trabalho pela ANAMT -2021</p>
    </li>

</ul>
{% endblock %}

{% block training %}
<ul class="space-y-5">
                                
    <li>
        <h4 class="mb-1 text-xl font-bold">SBEC</h4>
        <p class="text-gray-500">Pós-graduação em Cannabis Sativa</p>
    </li>



    <li>
        <h4 class="mb-1 text-xl font-bold">SBEC</h4>
        <p class="text-gray-500">Pós-Graduação em Cannabis Medicinal</p>
    </li>

</ul>
{% endblock %}

{% block other %}

{% endblock %}